<div class="footer">
    <div class="w">
        <div class="links">
            <a href="#" class="link" target="_blank">网站</a>
            <a href="#" class="link" target="_blank">网站</a>
            <a href="#" class="link" target="_blank">网站</a>
            <a href="#" class="link" target="_blank">网站</a>
        </div>
        <p class="copyright">
            Copyright &copy; wangzhan.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
